run/
build
*.egg-info
*.egg

\.idea/
*.pyc
venv/
*.sqlite3

*.db

src/landa_platform/bot/database\.db-shm

src/landa_platform/bot/database\.db-wal

\.DS_Store

src/landa_platform/leases/

src/landa_platform/signatures/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

src/src/django-hashid-field/

src/src/pip-delete-this-directory.txt
*.dia
*.dot

src/Pipfile.lock
*Pipfile.lock

static/
src/\.DS_Store

.idea
.idea/
.idea/*
*.idea
*.idea/
*.idea/*
.idea/codeStyles/codeStyleConfig.xml
